@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
	background-color: white;
}

.header {
    position: absolute;
	display: flex;
    top: 0%;
    width: 100%;
    height: 116px;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgb(210,210,210);
}

.milieu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    margin-top: 0px;
    gap: 18px;
    width: 50%;
    height: 100px;
    background-color: transparent;
    z-index: 300;
}

.titre {
    text-decoration: none;
    color: rgb(60, 160, 240);
    font-size: 16px;
    font-weight: 700;
    font-family: "Open sans", sans-serif;
    margin-top: 4px;
}
.titre:hover {
    color: black;
}

.menu {
    display: flex;
    gap: 24px;
}
.menu .aboutme {
    color: rgb(60, 160, 240);
    font-weight: 700;
    text-decoration: underline;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.menu a:hover {
    text-decoration: underline;
}


.bandeau {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 0px;
    width: 1216px;
    height: 74px;
    background-color: transparent;
}
.logo {
    display: block;
    height: 100%;
    width: auto;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.panier {
    display: block;
    margin-left: auto;
    height: 29%;
    width: auto;
    margin-right: 28px;
}
.panier img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}











.bande_fond {
    position: fixed;
    width: 70%;
    height: 100%;
    background-color: transparent;
    z-index: -10;
}


.contenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

img {
    height: 300px;
    width: 300px;
}

.space {
    position: relative;
    display: flex;
    height: 15px;
    width:auto;
}

.photo1 {
    position: relative;
    display: flex;
    height: 300px;
    width: 300px;
}

.texte1 {
    text-align: center;
    width: 60%;
}

.photo2 {
    position: relative;
    display: flex;
    height: 300px;
    width: 300px;
}

.soustitre2 {
    width: 50%;
    justify-content: left;
    font-size: larger;
    font-weight: 700;
    color: orange;
}

.texte2 {
    width: 60%;
}

.soustitre3 {
    width: 50%;
    justify-content: left;
    font-size: larger;
    font-weight: 700;
    color: orange;
}

.texte3 {
    width: 60%;
}

.soustitre4 {
    width: 50%;
    justify-content: left;
    font-size: larger;
    font-weight: 700;
    color: orange;
}

.texte4 {
    width: 60%;
}








.logo_insta {
    position: relative;
    display: flex;
    height: 30px;
    width: 30px;
}
.logo_insta img {
    height: 30px;
    width: 30px;
    filter: grayscale(100%) brightness(0.9);
}
.logo_insta img:hover {
    filter: grayscale(0%);
}




.footer {
    background-color: transparent;
    color: rgb(160, 160, 160);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 10px;
}