@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
	background-color: whitesmoke;
}

.menu {
    position: absolute;
	display: flex;
    top: 0%;
    width: 100%;
    height: 500px;
    background-color: transparent;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

.menu_1 {
	position: absolute;
	top: 10%;
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: 400;
	background-color: transparent;
}

.menu .img1 {
	position: absolute;
	top: 20%;
	width: 220px;
	height: auto;
}

.themenu {
    position: absolute;
	display: flex;
    top: 68%;
    width: 220px;
    height: 220px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: 500;
}

.themenu .menu_2 {
	position: absolute;
	top: 0%;
    font-size: 17px;
    color: rgb(60, 160, 240);
    text-decoration: none;
}
.themenu .menu_2:hover {
	color: rgb(255, 165, 75);
}

.themenu .menu_3 {
	position: absolute;
	top: 15%;
    font-size: 17px;
    color: rgb(60, 160, 240);
    text-decoration: none;
}
.themenu .menu_3:hover {
	color: rgb(255, 165, 75);
}

.themenu .menu_4 {
	position: absolute;
	top: 30%;
    font-size: 17px;
    color: rgb(60, 160, 240);
    text-decoration: none;
}
.themenu .menu_4:hover {
	color: rgb(255, 165, 75);
}

.themenu .menu_5 {
	position: absolute;
	display: flex;
	top: 49%;
	width: 30px;
	height: 30px;
    background-color: transparent;
	justify-content: space-evenly;
    align-items: center;
}
.themenu .menu_5 img {
	position: absolute;
	height: 30px;
    filter: grayscale(100%) brightness(0.9);
}
.themenu .menu_5 img:hover {
    filter: grayscale(0%);
}





